body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#logo {
  height: 7vh;
  margin-right: 10px;
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.thank-you {
  display: flex;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: -20vh;
}
