html {
  background-image: url('/GraceTopperWallpaper.png');
  background-size: cover;
}

body {
  font-family: Futura;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 26.4px;
  padding: 2%;
}

.title {
  font-family: 'Vollkorn', serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#logo {
  height: 7vh;
  margin-right: 10px;
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.thank-you {
  display: flex;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* Single Pizza */

.single-pizza-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza-name {
  font-family: Futura;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 26.4px;
}

.pizza-img {
  height: auto;
  width: auto;
  max-width: 30vw;
  max-height: 30vh;
}

.single-pizza {
  display: flex;
  flex-direction: row;
}

/* Pizza List */

#pizza-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

#pizza-title {
  display: flex;
  justify-content: center;
}

/* Carts */

#checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cart */

.pizza-img-cart {
  height: auto;
  width: auto;
  max-width: 15vw;
  max-height: 15vh;
}

/* OrderHistory */

.thumbnail {
  height: 5vh;
  width: 5vw;
}

table {
  width: 100%;
}

th {
  height: 100%;
}

td {
  text-align: center;
}

th,
td {
  border-bottom: 3px solid #ddd;
}

.row:hover {
  background-color: #ffbcbcda;
}

/* Home */

#home {
  font-family: 'Vollkorn', serif;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

/* Admin */

.admin-pizza {
  display: flex;
  flex-direction: row;
}
